<div>
    <h3>Editar Produto</h3>
</div>
<form class="example-container" [formGroup]="personForm" (ngSubmit)="updatePerson()">
    <mat-form-field>
        <input matInput name="name" placeholder="Name of Person" formControlName="name">
    </mat-form-field>
    <mat-form-field>
        <input matInput name="cpf" placeholder="CPF of Person" formControlName="cpf" maxlength="14">
    </mat-form-field>
    <mat-form-field>
        <input  matInput name="gender" placeholder="Gender of Person" formControlName="gender">
    </mat-form-field>
    <mat-form-field>
        <input matInput name="email" placeholder="Email of Person" formControlName="email">
    </mat-form-field>
    <mat-form-field>
        <input matInput name="dateBorn" placeholder="Date of Born" formControlName="dateBorn">
    </mat-form-field>
    <mat-form-field>
        <input matInput name="naturalness" placeholder="Naturalness of Person" formControlName="naturalness">
    </mat-form-field>
    <mat-form-field>
        <input matInput name="nationality" placeholder="Nationality of Person" formControlName="nationality">
    </mat-form-field>

    <button mat-flat-button type="submit" [disabled]="!personForm.valid" color="accent">Editar</button>

    <div *ngIf="personForm.controls['cpf'].hasError('minlength') || personForm.controls['cpf'].hasError('maxlength')">
        <b>Errors:</b><br/>
        <p class="alert alert-warning">CPF exceeded allowed characters</p>
    </div>
    <div class="painel-danger-red" *ngIf="errors != null">
        <b>Errors:</b><br/>
        <ul *ngFor=" let errMsg of errors.description ">
            <li class="alert">{{errMsg}}</li>
        </ul>
    </div>
</form>