<div>
    <h3>List of Persons</h3>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <ng-container matColumnDef="name" class="columnList">
      <th mat-header-cell *matHeaderCellDef class="columnList"> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="email" class="columnList">
      <th mat-header-cell *matHeaderCellDef class="columnList"> E-mail </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
  
    <ng-container matColumnDef="cpf" class="columnList">
      <th mat-header-cell *matHeaderCellDef class="columnList"> CPF </th>
      <td mat-cell *matCellDef="let element"> {{element.cpf}} </td>
    </ng-container>
  
    <ng-container matColumnDef="naturalness" class="columnList">
      <th mat-header-cell *matHeaderCellDef class="columnList"> Naturalness </th>
      <td mat-cell *matCellDef="let element"> {{element.naturalness}} </td>
    </ng-container>

    <ng-container matColumnDef="dateRegister" class="columnList">
      <th mat-header-cell *matHeaderCellDef class="columnList"> Date Register </th>
      <td mat-cell *matCellDef="let element"> {{element.dateRegister}} </td>
    </ng-container>

    <ng-container matColumnDef="dateRegisterUpdate">
      <th mat-header-cell *matHeaderCellDef class="columnList"> Date Register Update </th>
      <td mat-cell *matCellDef="let element"> {{element.dateRegisterUpdate}} </td>
    </ng-container>

   <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element"> 
            <button mat-flat-button color="accent" routerLink="/person-detail/{{element.id}}" selected>Detail</button>
        </td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>